/*
##############################################
##     ©️ GALACTIX Software and Nerdee.io™️   ##
##            All Rights Reserved           ##
##############################################
*/

/*
##############################################
##                 VARIABLES                ##
##############################################
*/
$background: #181818;

/*
##############################################
##                 DEFAULTS                 ##
##############################################
*/
body {
	margin: 0;
	padding: 0;
}

/*
##############################################
##                NAVIGATION                ##
##############################################
*/
nav {
	margin: 0;
	padding: 0;
}

nav a {
	color: white;
}

nav img {
	height: 10vh;
}

/*
##############################################
##                 MAIN BODY                ##
##############################################
*/
/* Nothing here yet */
