/*
##############################################
##     ©️ GALACTIX Software and Nerdee.io™️   ##
##            All Rights Reserved           ##
##############################################
*/

/*
##############################################
##                  IMPORTS                 ##
##############################################
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Open+Sans:wght@700&display=swap');

/*
##############################################
##                 VARIABLES                ##
##############################################
*/
$background: #27006e;

/*
##############################################
##                 DEFAULTS                 ##
##############################################
*/
body {
	margin: 0;
	padding: 0;

	background-color: $background;
}

/*
##############################################
##                NAVIGATION                ##
##############################################
*/
nav {
	margin: 0;
	padding: 0;
}

nav a {
	color: white;
}

nav img {
	height: 10vh;
}

/*
##############################################
##                 MAIN BODY                ##
##############################################
*/

#backgrd {
	width: 100vw;
	height: 100vh;

	position: fixed;

	top: 0;
	left: 0;

	background-image: url("../images/SVG/Blobs.svg");
	background-repeat: no-repeat;
	background-size: auto;

	color: #ffffff;

	display: block;
	text-align: left;

	margin: 0;
	padding: 0;
}

@media screen and (max-width: 415px) {
	#backgrd {
		background-image: url("../images/SVG/BlobsMobile.svg");
	}
}
